@charset "UTF-8";
/* CSS Document */

.list-group{
	list-style-type: none;
}

.list-group-item: before{
	content: "";
}

.product-list-item{
	width: 100%; 	
 	display: block;
	float: left;
 }

.list-group-item-inline{
	display: inline-block;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}